<h1 class="title"><img src="img/children_s.png" alt="" class="menu-icon" /> Meet the children</h1>
<h2 class="sub-title">The effectiveness of the integration program at Children's Paradise speaks for itself. Here are some of the success stories</h2>

<hr class="splitter" />
<div class="children-block">
    <div class="children-block-left">
        <img src="img/Nikita_s.png" alt="Nikita" />
    </div>
    <div class="children-block-right">
        <p class="sub-sub-title">Nikita</p>
        <p>Paralysed from the waist down after treatment for fluid on the brain, her parents were told 'nothing can be done'.  Following investigation by Marcia, in November 2008 Nikita was assessed by a physiotherapist from Kathmandu who said 'I think she can walk'.  He gave her an exercise program which is carried out at school as well as at home and there has been progress after only two months.  Children's Paradise Pre School upgraded to include Grade 1 to cater for Nikita.</p>
        <p>Latest News - May 2009 - News from Buntty tells us that Nikita is now able to bend her ankles and can almost put each foot on the ground. Such joy!!</p>
        <p>Read a testimonial from Nikita's parents <a>here</a>.</p>
    </div>
</div>
<hr class="splitter" />
<div class="children-block">
    <div class="children-block-left">
        <img src="img/Abish_s.png" alt="Abish" />
    </div>
    <div class="children-block-right">
        <p class="sub-sub-title">Abish</p>
        <p>This young boy came to Children's Paradise aged 3, kicking and screaming and banging his head on the wall.  Autistic perhaps?</p>
        <p>Now aged 5 he is a different boy.  He observes all that goes on around him, is very gentle and affectionate and can sometimes be bossy.  He loves music and playing with others.</p>
        <p>Read a testimonial from his mother <a>here</a>.</p>
    </div>
</div>
<hr class="splitter" />
<div class="children-block">
    <div class="children-block-left">
        <img src="img/Priya_s.png" alt="Priya" />
    </div>
    <div class="children-block-right">
        <p class="sub-sub-title">Priya</p>
        <p>Even after assessment in India, doctors were unable to diagnose Priya but suspected she was autistic.  She was sent to three normal schools but was constantly separated from other children, and alone.  Teachers could not explain why and consequently she was angry and troublesome.</p>
        <p>After starting at Children's Paradise she has shown great improvement. She now joins in and plays with other children.</p>
        <p>Read a testimonial from Priya's parents <a>here</a>.</p>
    </div>
</div>
<hr class="splitter" />
<div class="children-block">
    <div class="children-block-left">
        <img src="img/Richa_s.png" alt="Richa" />
    </div>
    <div class="children-block-right">
        <p class="sub-sub-title">Richa</p>
        <p>Diagnosed as retarded and disabled and not able to do anything.  After starting at Children's Paradise 3 years ago Richa was correctly diagnosed with deafness.</p>
        <p>Once she received a cochlear implant she began to learn how to talk and is now fully integrated.  This lovely girl, who had once been classified as 'hopeless...can do nothing' now leads the life of a normal child and is a student in the Grade 1 class.
        <p>Read a testimonial from Richa's parents <a>here</a>.</p>
    </div>
</div>
<hr class="splitter" />